* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #f5f5f5;
}

#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(66, 155, 233);
    margin-bottom: 30px;
    height: 75px;
    position: relative;
}

#nav h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

#nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#nav a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#nav a:hover{
    color: rgb(0, 0, 0);
}

#nav h1{
    margin-left: 2%;
}

#nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    position: absolute;
    right: 0;
}

#nav ul li{
    list-style-type: none;
    margin-left: 10%;
}

h1{
    font-size: 2.2rem;
}

#logo{
    width: 65px;
    height: 65px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#recipeCreate {
    width: 55%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

.form {
    display: flex;
    flex-direction: column; 
    width: 100%;
}

#formT{
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin-bottom: 20px;
    margin-top: 10px;
}

#formL{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-bottom: 20px; 
}

#formL label{
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

#formL input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.2rem;
}

#formL textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.2rem;
    resize: none;
}

#formR{
    display: flex;
    flex-direction: column;
    width: 75%; 
    margin-left: 5%;
}

#formR label{
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

#formR input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.2rem;
}

#under_30{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}

#under_30 label{
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

#under_30 input{
    height: 30px;
    font-size: 1.2rem;
    margin-right: 25%;
}



#formB{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#formB input[type='submit']{
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 1.2rem;
    background-color: rgb(66, 155, 233);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.error{
    width: 60%;
    height: fit-content;
    background-color: lightcoral;
    color: rgb(151, 0, 0);
    font-size: 12px;
    margin-top: 5px;
    margin-left: 20%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    font-weight: bold;
}


